@model IEnumerable<FoodFiesta.Models.Ingredient>

@{
    ViewBag.Title = "IngredientList";
}

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    <h2>Ingredient List</h2>
    <p></p>
    <p></p>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit_type)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit_type)
                </td>
            </tr>
        }

    </table>
</div>

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    @Html.ActionLink("Back to home", "Index")
    <p></p>
    <p></p>
</div>

